.edit-form-container{
    position: fixed;
    top: 0; left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    
}

.edit-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
}
.edit-form-container form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}
.edit-form-container form .field input{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color:#333;
    margin: .6rem 0;
    border: .1rem solid rgba(0, 0, 0, .3);
    text-transform: none;
}
.edit-form-container form .field input::focus{
    border-color: var(--earthTones);
}
.edit-form-container form  label{
    font-size: 1.5rem;
}

.edit-form-container #form-close{
    position: absolute;
    top: 2rem; right:3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}
.edit-form-container .links{
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #666;
}
.edit-form-container .links a{
    color: var(--earthTones);
}